__pycache__/
*~
*.pik
*.o
*.exe
*.bin
*.out
.ipynb_checkpoints
profile_default/
ipython_config.py
external/
model/output/*
latex/*.aux
latex/*.bbl
latex/*.bcf
latex/*.blg
latex/*.log
latex/*.nav
latex/*.out
latex/*.pdf
latex/*.run.xml
latex/*.snm
latex/*.toc
